{% extends 'base.html' %}

{% block nav_element %}
        <li class="nav-item">
            <a class="nav-link" href='/newblog' abindex="-1" aria-disabled="false">Make a new blog</a>
        </li>
{% endblock %}


{% block content %}

    <div class="mx-auto" style="text-align: center; padding-bottom: 1vh;">
        <h3>Blogs</h3>
    </div>

    {% if blogs|length != 0 %}
        {% for blog in blogs %}

            <div class="list-group mx-auto" style="width: 70%; margin-bottom: 1vh;">
                    <a href="/blog?blog_id={{blog.id}}" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{blog.title}}</h5>
                            {% if blog.posts|length != 0 %}
                                <small class="text-muted">Last updated: {{blog.posts[-1].created_at}}</small>
                            {% else %}
                                <small class="text-muted">No posts yet</small>
                            {% endif %}
                        </div>
                        <p class="mb-1">Posts: {{blog.posts|count}}</p>
                    </a>
            </div>

        {% endfor %}
    {% else %}
        <h3 style='text-align: center;'>No blogs here yet</h3>
    {% endif %}

{% endblock %}